extends /_includes/_layouts/core
include /_includes/mixins

block content
  .w-device-aspect-ratio.mx-auto.h-100vh.bg-purple.debug
    .bg-pink.h-100p.scroll-snap-y
      block slides
    .w-device-aspect-ratio.mx-auto.h-8vh.fixed.bottom-0.bg-black.white
      p Details
