+slide.bg-gray-9
  +title Styling: Utility-first
  .fla.flcnw.flccv.ml-3
    .codeblock.fln.text-1
      |&lt;div class="bg-white p-4 flex flex-row">
      |    &lt;img src="…" class="w-4 h-4 rounded flex-none" />
      |    &lt;ul class="flex-auto flex-col">
      |      &lt;li class="flex-auto p-1">
      |        Tim Carry
      |      &lt;/li>
      |      &lt;li class="flex-auto p-1">
      |        @pixelastic
      |      &lt;/li>
      |      &lt;li class="flex-auto p-1 text-gray">
      |        None
      |      &lt;/li>
      |    &lt;/ul>
      |&lt;/div>
