+slide.flcnw
  +title Who am I?
  .fla.flcnw.my-4.mx-5
    .fln.h-66p.flrnw.flc
      .fln.flrnw
        .fla.flcnw.flccv.text-5
          .fln.text-right.amaranth.gray-9
            .block Tim Carry
            .block.gray-7.text-3 Public Speaking Coach
            .block.gray-7.text-3 Indie Hacker
            .block.green
              .inline @
              .inline.underline pixelastic
        .fln.flcnw.flc.ml-3
          img.h-20.rounded-full(src=`./assets/images/avatar.jpg`, alt="Tim Carry")
    .fln.flrnw.h-33p.p-1
      .fla.flcnw.flc
        img.h-100p(src=`./assets/images/techlunch.png`, alt="TechLunch")
      .fla.flcnw.flc
        img.h-80p(src=`./assets/images/humantalks-black.png`, alt="HumanTalks")
