/* Resize width automatically based on height */
.w-device-aspect-ratio {
  width: 100vh;
}
@media (device-aspect-ratio: 3/2) {
  .w-device-aspect-ratio {
    width: 150vh;
  }
}
@media (device-aspect-ratio: 4/3) {
  .w-device-aspect-ratio {
    width: 133vh;
  }
}
@media (device-aspect-ratio: 5/4) {
  .w-device-aspect-ratio {
    width: 125vh;
  }
}
@media (device-aspect-ratio: 16/9) {
  .w-device-aspect-ratio {
    width: 177.77vh;
  }
}
@media (device-aspect-ratio: 16/10) {
  .w-device-aspect-ratio {
    width: 160vh;
  }
}

.scroll-snap-y {
  scroll-snap-type: y mandatory;
}
.scroll-snap-x {
  scroll-snap-type: y mandatory;
}
.scroll-snap-start {
  scroll-snap-align: start;
}

#details {
  /* @apply absolute pin-b pin-r pin-l h-5; */
  /* @apply bg-black grey-light; */
  /* @apply flex flrnw; */
  /* @apply pb-1 pr-2 pl-1; */
}
/* .details-title { */
/*   @apply fla flcnw flccv; */
/*   @apply text--1 white-70 amaranth no-underline; */
/*   &:hover { */
/*     @apply underline; */
/*   } */
/* } */
/* .details-speaker { */
/*   @apply fln flcnw; */
/*   @apply text--2 px-2 text-right; */
/* } */
/* .details-speaker-name { */
/*   @apply fla; */
/*   @apply pt-1; */
/* } */
/* .details-speaker-twitter { */
/*   @apply fla; */
/* } */

/* /1* Custom notes that can be displayed if needed *1/ */
/* .notes { */
/*   @apply absolute pin-b pin-r p-3 hidden; */
/*   @apply bg-black-90 text-1 font-normal white tshadow-black rounded-tl-1; */
/* } */
