extends /_includes/_layouts/core

block content
  .layout-slides.h-base-100vh.h-crop-10p.bg-purple
    block slides
  .layout-details.h-10p.bg-black
    p Details
  // #slides.amaranth.black
  // #details
  //   #time-indicator 
  //   a.details-title(href=pageUrl)=pageTitle
  //   .details-speaker
  //     .details-speaker-name=pageAuthor
  //     a.details-speaker-twitter.green.no-underline(href=`https://twitter.com/${pageTwitter}`) 
  //       .inline @
  //       .inline.underline=pageTwitter
