extends /_includes/_layouts/core

block content
  .w-device-aspect-ratio.mx-auto.h-100vh.bg-purple.debug
    .bg-pink.h-100p.scroll-snap-y
      block slides
    .w-device-aspect-ratio.mx-auto.h-8vh.fixed.bottom-0.bg-black.white
      p Details
  // #slides.amaranth.black
  // #details
  //   #time-indicator 
  //   a.details-title(href=pageUrl)=pageTitle
  //   .details-speaker
  //     .details-speaker-name=pageAuthor
  //     a.details-speaker-twitter.green.no-underline(href=`https://twitter.com/${pageTwitter}`) 
  //       .inline @
  //       .inline.underline=pageTwitter
