extends /_includes/_layouts/core
include /_includes/mixins

block content
  .flcnw.flc.h-100vh.w-100vw
    .js-wrapper.device-aspect-ratio.bg-white.relative.overflow-hidden.shadow-3
      block slides
      .absolute.bottom-0.left-0.right-0.h-8p.bg-gray-8.white
        .js-time-indicator.z-1.absolute.top-0.left-0.min-w-1.h-03.rounded-br-full.bg-gradient-x.bg-gradient-to-green.transition.transition-width.transition-02.transition-linear
        .fln.flrnw
          a.fla.flcnw.flccv.p-1.text-1.amaranth.text-shadow.text-shadow-gray-1(href=pageUrl)=pageTitle
          .fln.flcnw.px-5.flcnw.flc.gray-3.text-01
            .fln.flcnw
              .fln=pageAuthor
              a.fln.green(href=`https://twitter.com/${pageTwitter}`)
                .inline @
                .inline.hover_underline=pageTwitter
