extends /_includes/_layouts/sov

block config
  - pageTitle = "Why is Utility-first CSS awesome?"
  - pageDescription = "What are those weird dl-* classes? This seems so wrong."
  - pageTwitter = "pixelastic"
  - pageAuthor = "Tim Carry"
  - pageUrl = "https://talks.pixelastic.com/slides/bbl-doctolib-utility-first-css/"

block slides
  +slide.bg-green.text-7
    .fla.flcnw.flc.white.text-shadow.amaranth.bold
      .fln Why is Utility-first CSS 
      .fln #[.inline.strike.opacity-50p wrong] awesome?


  include /_includes/_slides/who-am-i.pug

  +slide.bg-gray-9
    +title Styling: BEM
    .fla.flcnw.flccv.ml-3
      .codeblock.fln.text-1
        |&lt;div class="user">
        |    &lt;img src="…" class="user__picture" />
        |    &lt;ul class="user__detailList">
        |      &lt;li class="user__detail">
        |        Tim Carry
        |      &lt;/li>
        |      &lt;li class="user__detail">
        |        @pixelastic
        |      &lt;/li>
        |      &lt;li class="user__detail user__detail--disabled">
        |        None
        |      &lt;/li>
        |    &lt;/ul>
        |&lt;/div>


  include /_includes/_slides/utility.pug

  +slide.px-1.bg-red-9
    .fla.flcnw.flc.text-8.amaranth.white.text-shadow
      div 😱 
      div Inline Styles!

  +slide
    .fla.flcnw
      .fla.flcnw.bg-red-2
        .fla.flcnw.flc.bg-gray-9
          .codeblock.p-4.text-3.text-center
            |&lt;div style="background-color: #badc07; font-size: 15px;">
        .fla.flcnw.flccv.ml-5.my-3.text-4
          .fln.bullet.bullet-cross.bullet-red Anyone can put anything in it
          .fln.bullet.bullet-cross.bullet-red Can only be overriden by #[code.code !important]
      .fla.flcnw.bg-green-2(data-step)
        .fla.flcnw.flc.bg-gray-9
          .codeblock.p-4.text-3.text-center
            |&lt;div style="bg-blue text-1">
        .fla.flcnw.flccv.ml-5.my-3.text-4
          .fln.bullet.bullet-tick.bullet-green Limited to a controlled API
          .fln.bullet.bullet-tick.bullet-green As it's only a #[code.code .class], easy to override

  +slide.px-1.bg-red-9
    .fla.flcnw.flc.text-7.amaranth.white.text-shadow
      .text-8 😱 
      div Separation of Concerns!
    ul.notes
      li You put your CSS in my HTML. You're breaking the separation of concerns


  +slide.bg-green
    .fla.flcnw.flc
      .flcnw.text-7.amaranth.white.text-shadow
        .fla Separation of #[.inline.yellow Concerns]
        .fla.text-center.bold ≠
        .fla Separation of #[.inline.red Filetypes]

  //- +slide
  //-   +title HTML and CSS work together
  //-   .fla.flcnw.flc
  //-     .fln.flcnw.w-80p
  //-       .fln.flrnw.border-001.border-b-0.border-gray
  //-         .fln.flcnw.flc.w-20p.p-3
  //-           img.h-14.opacity-25p(src='./assets/images/html.png')
  //-         .fln.flcnw.flc.w-20p.p-3.border-r-001.border-gray
  //-           img.h-14(src='./assets/images/css.png')
  //-         .fla.text-7.red-5.flcnw.flc.amaranth.text-shadow Useless
  //-       .fln.flrnw.border-001.border-gray
  //-         .fln.flcnw.flc.w-20p.p-3
  //-           img.h-14(src='./assets/images/html.png')
  //-         .fln.flcnw.flc.w-20p.border-r-001.p-3.border-gray
  //-           img.h-14.opacity-25p(src='./assets/images/css.png')
  //-         .fla.text-7.red-5.flcnw.flc.amaranth.text-shadow Unusable


  +slide
    +title Reduced Mental Context-Switching
    .fla.flcnw.flc 
      .fln.flrnw.flspa.amaranth.w-100p
        .fla.flc.flcnw.mx-5
          img.h-18(src='./assets/images/react.png')
          .text-6 React
        .fla.flc.flcnw.mx-5
          img.h-18(src='./assets/images/css.png')
          .text-6 CSS
        .fla.flc.flcnw.mx-5
          img.h-18(src='./assets/images/browsers.png')
          .text-6 Browser

  include /_includes/_slides/utility.pug


  +slide.px-1.bg-red-9
    .fla.flcnw.flc.text-8.amaranth.white.text-shadow
      .text-8 😱 
      div Cascade!

  +slide.bg-green
    .fla.flcnw.flc
      .fln.amaranth.text-shadow.text-8.white.lh-1.relative
        .absolute.strike.white.opacity-25p.-top-11.z-0 Cascading
        .z-1.relative
          .fln #[.inline.orange.bold C]ompositing
          .fln #[.inline.orange.bold S]tyle 
          .fln #[.inline.orange.bold S]heets
    .notes
      div Composition Over Inheritance
      div Small classes that do one thing
      div Use several of them


  +slide.bg-green-1
    +title Combine classes like Lego Blocks
    .fla.flc.flcnw
      .fln.flcnw.text-5
        .bullet.bullet-tick.bullet-green Your styleguide as an API
        .bullet.bullet-tick.bullet-green Consistant spacing, colors and font size
        .bullet.bullet-tick.bullet-green Can only use what's defined
        .bullet.bullet-tick.bullet-green Easier to do it right™

  +slide.px-1.bg-red-9
    .fla.flcnw.flc.text-8.amaranth.white.text-shadow
      .text-8 😱 
      div Repetition!

  +slide
    +title Abstraction?
    .fla.flcnw
      .fla.bg-gray-9.flcnw.flccv
        .fln.codeblock.pt-2.px-2.text-3
          |&lt;button class="px-2 py-1 ml-2 text-1 white bold bg-gray border-blue rounded shadow-1">
          |    Click Me!
          |&lt;/button>

  +slide
    +title Abstraction with #[code.code @apply]
    .fla.flcnw
      .fla.bg-gray-9.flcnw.flccv
        .fln.codeblock.pt-2.px-2.text-3
          |&lt;button class="button">
          |    Click Me!
          |&lt;/button>
      .fla.bg-gray-9.flcnw.flccv
        .fln.codeblock.pb-2.px-2.language-css.text-3
          |.button {
          |  @apply px-2 py-1 ml-2;
          |  @apply text-1 white bold bg-gray;
          |  @apply border-blue rounded shadow-1;
          |}

  //- +slide.px-1.bg-red-9
  //-   .fla.flcnw.flc.text-8.amaranth.white.text-shadow
  //-     .text-8 😱 
  //-     div Responsive!


  //- +slide
  //-   +title Using #[code.code.lh-1 @screen] and #[code.code.lh-1 @apply]
  //-   .fla.flcnw.flccv.bg-gray-9
  //-     .codeblock.language-css.p-3.text-3.bg-opacity-0
  //-       |@screen lg {
  //-       |    section {
  //-       |        @apply flex-row;
  //-       |    }
  //-       |    nav {
  //-       |        @apply pb-0 pl-3;
  //-       |    }
  //-       |}


  +slide.px-1.bg-red-9
    .fla.flcnw.flc.text-8.amaranth.white.text-shadow
      .text-8 😱 
      div Performance!

  +slide.bg-green-1
    +title It's actually pretty optimized
    .fla.flcnw.flc
      .fln.flcnw.text-5
        .fln.bullet.bullet-tick.bullet-green Parsing single class selectors is fast
        .fln.bullet.bullet-tick.bullet-green #[code.code @apply] to reduce boilerplate
        .fln.bullet.bullet-tick.bullet-green Perfect use-case for Gzip/Brotli
        .fln.bullet.bullet-tick.bullet-green purgeCSS to remove unused classes

  +slide.px-1.bg-green-9
    .fla.flcnw.flc.text-8.amaranth.white.text-shadow
      .text-8 🤨
      div How can I try?


  +slide
    .fla.flcnw.flc
      .fln.w-100p
        include /_includes/_icons/tailwind.svg

    //- +title #[.inline.strike.gray Two] One framework#[.inline.strike.gray s]: #[.inline.strike.gray Tachyons and] TailwindCSS
    //- .fla.flcnw.flc.p-2
    //-   .fln.flcnw.w-100p.border-r-001.border-b-001.border-gray
    //-     .fln.flrnw.border-b-001.border-gray
    //-       .fln.p-3.w-33p  
    //-       .fln.p-3.w-33p.border-l-001.border-t-001.border-gray.bold.text-center.opacity-50p Tachyons
    //-       .fln.p-3.w-33p.border-l-001.border-t-001.border-gray.bold.text-center TailwindCSS
    //-     .fln.flrnw.border-b-001.border-gray
    //-       .fln.p-3.w-33p.bg-gray.bold.gray-1 Tooling
    //-       .fln.p-3.w-33p.border-l-001.border-gray.bullet.bullet-cross.bullet-red.opacity-50p SCSS
    //-       .fln.p-3.w-33p.border-l-001.border-gray.bullet.bullet-tick.bullet-green postCSS
    //-     .fln.flrnw.border-b-001.border-gray
    //-       .fln.p-3.w-33p.bg-gray.bold.gray-1 Composition
    //-       .fln.p-3.w-33p.border-l-001.border-gray.bullet.bullet-cross.bullet-red.opacity-50p HTML Templating
    //-       .fln.p-3.w-33p.border-l-001.border-gray.bullet.bullet-tick.bullet-green #[code.code @apply]
    //-     .fln.flrnw.border-b-001.border-gray
    //-       .fln.p-3.w-33p.bg-gray.bold.gray-1 Defaults
    //-       .fln.p-3.w-33p.border-l-001.border-gray.bullet.bullet-cross.bullet-red.opacity-50p Opinionated
    //-       .fln.p-3.w-33p.border-l-001.border-gray.bullet.bullet-tick.bullet-green Extensible
    //-     .fln.flrnw.border-b-001.border-gray
    //-       .fln.p-3.w-33p.bg-gray.bold.gray-1 Documentation
    //-       .fln.p-3.w-33p.border-l-001.border-gray.bullet.bullet-cross.bullet-red.opacity-50p No Search
    //-       .fln.p-3.w-33p.border-l-001.border-gray.bullet.bullet-tick.bullet-green Screencasts, examples
    //-     .fln.flrnw
    //-       .fln.p-3.w-33p.bg-gray.bold.gray-1 Community
    //-       .fln.p-3.w-33p.border-l-001.border-gray.bullet.bullet-cross.bullet-red.opacity-50p ?
    //-       .fln.p-3.w-33p.border-l-001.border-gray.bullet.bullet-tick.bullet-green Laravel/Vue.js

  +slide
    .fla.flcnw.flc.relative
      .flrw.flspa.text-2.p-3
        .fln.px-1.py-01 #[code.code .inline-block]
        .fln.px-1.py-01 #[code.code .whitespace-no-wrap]
        .fln.px-1.py-01 #[code.code .float-left]
        .fln.px-1.py-01 #[code.code .absolute]
        .fln.px-1.py-01 #[code.code .opacity-50]
        .fln.px-1.py-01 #[code.code .whitespace-pre]
        .fln.px-1.py-01 #[code.code .underline]
        .fln.px-1.py-01 #[code.code .fixed]
        .fln.px-1.py-01 #[code.code .overflow-hidden]
        .fln.px-1.py-01 #[code.code .order-first]
        .fln.px-1.py-01 #[code.code .bold]
        .fln.px-1.py-01 #[code.code .bg-repeat-y]
        .fln.px-1.py-01 #[code.code .relative]
        .fln.px-1.py-01 #[code.code .overflow-y-scroll]
        .fln.px-1.py-01 #[code.code .hidden]
        .fln.px-1.py-01 #[code.code .italic]
        .fln.px-1.py-01 #[code.code .bg-cover]
        .fln.px-1.py-01 #[code.code .border-dotted]
        .fln.px-1.py-01 #[code.code .extrabold]
        .fln.px-1.py-01 #[code.code .border-solid]
        .fln.px-1.py-01 #[code.code .border-r-1]
        .fln.px-1.py-01 #[code.code .bg-repeat]
        .fln.px-1.py-01 #[code.code .my-3]
        .fln.px-1.py-01 #[code.code .rounded]
        .fln.px-1.py-01 #[code.code .lowercase]
        .fln.px-1.py-01 #[code.code .float-none]
        .fln.px-1.py-01 #[code.code .border-gray]
        .fln.px-1.py-01 #[code.code .cursor-pointer]
        .fln.px-1.py-01 #[code.code .px-2]
        .fln.px-1.py-01 #[code.code .bg-contain]
        .fln.px-1.py-01 #[code.code .bg-auto]
        .fln.px-1.py-01 #[code.code .order-last]
        .fln.px-1.py-01 #[code.code .semibold]
        .fln.px-1.py-01 #[code.code .uppercase]
        .fln.px-1.py-01 #[code.code .block]
        .fln.px-1.py-01 #[code.code .invisible]
        .fln.px-1.py-01 #[code.code .strike]
        .fln.px-1.py-01 #[code.code .rounded-full]
        .fln.px-1.py-01 #[code.code .items-center]
        .fln.px-1.py-01 #[code.code .pointer-events-none]
        .fln.px-1.py-01 #[code.code .capitalize]
        .fln.px-1.py-01 #[code.code .border-1]
        .fln.px-1.py-01 #[code.code .justify-center]
        .fln.px-1.py-01 #[code.code .bg-repeat-x]
        .fln.px-1.py-01 #[code.code .visible]
        .fln.px-1.py-01 #[code.code .inline]
      .absolute.top-0.bottom-0.right-0.left-0.flcnw.flccv
        .fln.bg-white.bg-opacity-90p.p-3
          .flrnw.flc.text-4
            .fla.flcnw.flc
              .bullet.bullet-green.bullet-tick Low level
            .fla.flcnw.flc
              .bullet.bullet-green.bullet-tick Normalized

  +slide
    +title Pseudo-element prefix
    .fla.flcnw.flc
      .flrw.flspa.text-5.p-3
        .fln.p-4 #[code.code .hover:]
        .fln.p-4 #[code.code .focus:]
        .fln.p-4 #[code.code .focus-within:]
        .fln.p-4 #[code.code .active:]
        .fln.p-4 #[code.code .disabled:]
        .fln.p-4 #[code.code .visited:]
        .fln.p-4 #[code.code .first-child:]
        .fln.p-4 #[code.code .last-child:]

  +slide
    +title Responsive prefixes
    .fla.flcnw.flc.bg-gray-9
      .codeblock.language-html.p-3.text-3
        |&lt;div class="flex flex-column">
        |    &lt;header class="flex-none w-100p p-1">Header&lt;/header>
        |    &lt;section class="flex-auto flex flex-column lg:flex-row">
        |      &lt;nav class="flex-none pb-3 lg:pb-0 lg:pr-3">
        |       Navigation
        |     &lt;/nav>
        |      &lt;main class="flex-auto">Content&lt;/main>
        |    &lt;/section>
        |&lt;/div>


  //- +slide.bg-green-1
  //-   +title Configuration as code
  //-   .fla.flrnw
  //-     .fln.flcnw.flc
  //-       .fln.codeblock.language-js.text-1.w-100p.px-3
  //-         |module.exports = {
  //-         |    theme: {
  //-         |      fontFamily: {
  //-         |        sans: ['Helvetica', 'Arial', 'sans-serif'],
  //-         |      },
  //-         |      extend: {
  //-         |        colors: {
  //-         |          cyan: '#9cdbff',
  //-         |        },
  //-         |        margin: {
  //-         |          96: '24rem',
  //-         |          128: '32rem',
  //-         |        },
  //-         |      }
  //-         |    },
  //-         |}
  //-     .fla.flcnw.flc
  //-       .fln.flcnw.text-2.pl-2
  //-         .bullet.bullet-tick.bullet-green #[code.code tailwind.config.{js,json}] file
  //-         .bullet.bullet-tick.bullet-green Theming system for changing values
  //-         .bullet.bullet-tick.bullet-green Plugin system for adding new classes
  //-         .bullet.bullet-tick.bullet-green Clear documentation
  //-         .bullet.bullet-tick.bullet-green Shareable configurations
  //-
  // AT doctolib
  // We use utility (and other methodologies), but not yet tailwind
  // We write utility classes by hand when we need them
  // We prefix them with dl- and add important so they take precedence over
  // existing classes
  //
  // Next steps are to add Tailwind to the stack
  // First, it will only generate the classes we already have, so less errors
  // Then, we'll progressively have it handle more and more parts of CSS
  // Finally, we should be able to use only that, and not write custom CSS
  // anymore

  +slide.px-1.bg-green-9
    .fla.flcnw.flc.text-8.amaranth.white.text-shadow
      .text-8 🧐
      div Conclusion

  +slide.bg-green-1
    +title Everything I like about Utility-first CSS
    .fla.flcnw.flc
      .fln.flcnw.text-5
        .fln.bullet.bullet-tick.bullet-green I write less CSS
        .fln.bullet.bullet-tick.bullet-green Styleguide as an API
        .fln.bullet.bullet-tick.bullet-green Less context-switching
        .fln.bullet.bullet-tick.bullet-green Projects are easier to maintain
        .fln.bullet.bullet-tick.bullet-green ...without losing anything else

  +slide.bg-green
    .fla.flcnw.amaranth.white.text-5
      .fln.h-33p.flc.flcnw.text-9.bold.text-shadow Thank you!
      .fla.flcnw.flc
        a.flrnw.flrcv(href="https://tailwindcss.com/") 
          img.h-10.fln(src="./assets/images/tailwind.png") 
          .fln.ml-2.text-shadow.hover_underline tailwindcss.com
      .fla.flcnw.flc
        a.flrnw.flrcv(href="https://github.com/pixelastic/tailwind-config-norska") 
          img.w-10.fln.rounded-full(src="./assets/images/github.png") 
          .fln.ml-2.text-shadow.hover_underline pixelastic/tailwind-config-norska
      .fla.flcnw.flc
        a.text-shadow.hover_underline(href=pageUrl)=_.replace(pageUrl, 'https://', '')


    
  //- - Maintenability: You remove the HTML and you have no dead code
  //- +slide.bg-gray-9
  //-   +title Two sides of the same coin
  //-   .fla.flcnw.flc
  //-     .__coin.amaranth.text-center(style="--edge-size: 2rem; --coin-diameter: 36rem; --turn-time: 6s")
  //-       .__coin-face.__coin-front.bg-yellow.flcnw.h-100p.flc
  //-         .absolute.fill-current.h-60p.w-60p.yellow-8
  //-           include /_includes/_icons/separationOfConcerns.svg
  //-         .white.z-1.text-shadow.text-5 Separation of Concerns
  //-       .__coin-edge
  //-         - for (var edgeCount = 0; edgeCount < 80; edgeCount ++) {
  //-           div.bg-yellow-8(style=`--edge-index: ${edgeCount}`)
  //-         - }
  //-       .__coin-face.__coin-back.bg-yellow.flcnw.h-100p.flc
  //-         .absolute.fill-current.h-60p.w-60p.yellow-8
  //-           include /_includes/_icons/levelOfIndirection.svg
  //-         .white.z-1.text-shadow.text-6 Level of Indirection
  //- +slide
  //-   +title The CSS ZenGarden Phallacy
  //-   .fla.flcnw.flc 
  //-     .fln Not because you can mean you should
  //-     .fln Believe me, I know
  //-   .notes
  //-     li rebranding the whole wbeiste just by changing the CSS
  //-     li never happens in real life
  //-     li slow, too complex
  //-     li we always add wrapper divs or rewrite markup



