extends /_includes/_layouts/sov

block config
  - pageTitle = "Your presentation title"
  - pageDescription = "Your presentation description"
  - pageTwitter = "Your Twitter handle"
  - pageAuthor = "Your name"
  - pageUrl = "Your url"

block slides
  +slide
    .flcnw.h-100p
      .fla a
      .fla b
  +slide
    p.h-100p This is slide kjkjkj
  +slide
    p.h-100p This is slide 3
  // .slide.h-base-100vh.h-crop-8vh.bg-blue
  //   p This is slide 2

