extends /_includes/_layouts/sov

block config
  - pageTitle = "Your presentation title"
  - pageDescription = "Your presentation description"
  - pageTwitter = "Your Twitter handle"
  - pageAuthor = "Your name"
  - pageUrl = "Your url"

block slides
  .slide
    p This is slide 1
  .slide
    p This is slide 2

